/***********************************/
/* Custom Properties */
:root {
  /* Colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* Fonts */
  --font-body: 'Josefin Sans', sans-serif;
}

/***********************************/
/* Basic Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--desaturated-red);
}

img {
  width: 100%;
  display: block;
}

/***********************************/
/* Typography */

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--dark-grayish-red);
}

.h1 {
  font-size: 4rem;
  line-height: 4.2rem;
}

/***********************************/
/* Main Layout */
.main {
  display: grid;
  grid-template-columns: 3.2rem 1fr 3.2rem;
  grid-template-rows: 8.4rem max-content max-content;
}

.header,
.hero-text {
  grid-column: 2 / 3;
}

.header {
  display: grid;
}

.header-logo {
  width: 10rem;
  align-self: center;
}

.hero-img {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.hero-text {
  padding-top: 6.4rem;
  padding-bottom: 9.2rem;
  text-align: center;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.hero-lead {
  margin-bottom: 3.2rem;
}

/***********************************/
/* COMPONENTS */
.form {
  position: relative;
}

.input-container {
}

.input-container::before {
  content: '';
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 7.2rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../images/icon-error.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input-container::after {
  display: none;
  font-size: 1.3rem;

  position: absolute;
  left: 2rem;
  bottom: -2.8rem;
}

.input-container[data-error] .input {
  box-shadow: inset 0 0 0 2px var(--soft-red);
}

.input-container[data-error]::before {
  display: inline-block;
}

.input-container[data-error]::after,
.input-container[data-success]::after {
  display: inline-block;
}

.input-container[data-error]::after {
  color: var(--soft-red);
  content: attr(data-error);
}

.input-container[data-success]::after {
  color: var(--dark-grayish-red);
  content: attr(data-success);
}

.input {
  border: 1px solid var(--desaturated-red);
  border-radius: 50rem;
  font-family: inherit;
  font-size: inherit;
  color: var(--dark-grayish-red);
  padding: 1.6rem 3.2rem;
  padding-right: 11rem;
  width: 100%;
}

.input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--desaturated-red);
}

.input::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
}

.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6.4rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 1.5rem 2rem rgba(198, 110, 110, 0.25);
  cursor: pointer;
  overflow: hidden;
}

.submit-btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.submit-btn:hover::after {
  opacity: 1;
}

.submit-btn img {
  width: 1rem;
}

/***********************************/
/* Util Classes */
.text-red {
  color: var(--soft-red);
}

.fw-300 {
  font-weight: 300;
}
/**************************************/
/* Responsive styling */
/**************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3.2rem 1fr 1fr 3.2rem;
    grid-template-rows: 16rem 1fr;

    background-image: url('./../images/bg-pattern-desktop.svg');
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
  }

  .h1 {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }

  .header-logo {
    width: 16rem;
  }

  .hero-img {
    grid-row: 1 / -1;
    grid-column: 3 / -1;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-text {
    padding: 0;
    padding-top: 7rem;
    padding-right: 3.2rem;
    text-align: left;
    margin: 0;
    max-width: 48rem;
  }

  .hero-title {
    margin-bottom: 2rem;
    letter-spacing: 1.6rem;
    line-height: 7rem;
  }

  .hero-lead {
    margin-bottom: 4rem;
  }

  .input-container::before {
    right: 11rem;
  }

  .input {
    padding: 2rem 3.2rem;
    padding-right: 16rem;
  }

  .submit-btn {
    width: 10rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    grid-template-columns: 1fr 66.4rem minmax(61rem, 1fr);
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
